{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Consumer Credit Portal{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Welcome to the Consumer Credit Portal</h1>
    <span><a href="{{ url_for('info') }}"><button type="button" class="btn btn-outline-primary">What does this app do?</button></a></span>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h4>Begin application here:</h4>
            {{ wtf.quick_form(form) }}
        </div>
    </div>
</div>
{% endblock %}
