pylint
pytest
jupyter
click
pandas
sensible
ipython
flask
pylint-flask
flask-API
requests
flask
flasgger
pytest-flask
pytest-cov
matplotlib
seaborn
numpy
gunicorn
google-cloud
google-cloud-core
google-cloud-pubsub
google-cloud-datastore
google-cloud-spanner
google-cloud-storage
grpcio==1.27.2